---
layout: page
title: Contacteer ons | Fudoshin Dojo — Ban Sen Juku
permalink: /contact
banner-src: http://res.cloudinary.com/dce7lgprd/image/upload/c_lpad,g_center,w_1170/v1482841533/fudoshin%20dojo/2016%20initiatie/header.png
banner-alt: Aikido in Gent
date: 2017-01-04
---

<div class="container">
    <div class="page-header">
        <h1>Contacteer ons <small>voor al je vragen</small></h1>
    </div>
    <section class="row">
        {% for contact in site.data.contacts %}
        <article class="col-xs-12" typeof="Person">
            <meta property="memberOf" content="Ban Sen Juku">
            <meta property="memberOf" content="Fudoshin Dojo">
            <h2>
                <small property="jobTitle">{{ contact.jobTitle }}</small>
                <span property="givenName">{{ contact.givenName }}</span> 
                <span property="familyName">{{ contact.familyName }}</span> 
                <small property="award">{{ contact.award }}</small>
                <img src="{{ contact.image }}" alt="{{ contact.givenName }} {{ contact.familyName }}" class="img-thumbnail float-right">
            </h2>
            <p>{% if contact.description %}
                {{ contact.description }}<br>
                {% endif %}
                <strong>email</strong>: <a property="email" href="mailto:{{ contact.email }}">{{ contact.email }}</a><br>
                <strong>GSM</strong>: <span property="telephone" content="{{ contact.phone.value }}">{{ contact.phone.pretty }}</span>
            </p>
        </article>
        {% endfor %}
    </section>
</div>