<h5>Contact gegevens</h5>
{% for contact in site.data.contactpersonen %}
    <div class="card" property="coach" typeof="Person">
        <div class="card-content">
            <p class="card-header">
                <span property="name">{{ contact.name }}</span>
                <small property="honorificSuffix">{{ contact.role }}</small>
                <small class="right">{{ contact.degree }}</small>
            </p>
            <p></p>
        </div>
        <div class="card-action">
            <a property="email" href="mailto:{{ contact.email }}">{{ contact.email }}</a><br>
            <span property="telephone">{{ contact.phone }}</a>
        </div>
    </div>
{% endfor %}