<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-4 col-md-3">
                <h2>contact</h2>
                {% for contact in site.data.contacts %}
                <article typeof="Person">
                    <meta property="memberOf" content="Ban Sen Juku">
                    <meta property="memberOf" content="Fudoshin Dojo">
                    <h4>
                        <span property="givenName">{{ contact.givenName }}</span> 
                        <span property="familyName">{{ contact.familyName }}</span> 
                        <small property="jobTitle">{{ contact.jobTitle }}</small>
                    </h4>
                    <p>
                        <strong>email</strong>: <a property="email" href="mailto:{{ contact.email }}">{{ contact.email }}</a><br>
                        <strong>GSM</strong>: <span property="telephone" content="{{ contact.phone.value }}">{{ contact.phone.pretty }}</span>
                    </p>
                </article>
                {% endfor %}
            </div>
            <div class="col-xs-12 col-sm-4 col-md-3">
                <h2>Trainingen</h2>
                <p>We trainen <strong>iedere donderdag</strong><br>
                    van <strong>19u</strong> tot <strong>21u</strong></p>
                <p><em>In de schoolvakanties wordt er niet getraind.</em></p>
                <p>
                    <strong property="organizer" typeof="Organization">
                        <meta property="memberOf" content="Ban Sen Juku">
                        <meta property="url" content="http://aikidogent.com">
                        <span property="legalName">Ban Sen Juku Fudoshin Dojo</span>
                    </strong><br>
                    <span property="address" typeof="PostalAddress">
                        Sporthal Wolfput <br>
                        Wolfputstraat 123 <br>
                        9041 Oostakker
                    </span>
                </p>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-6">
                <h2>&nbsp;</h2>
                <iframe 
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2505.847914593852!2d3.76485665!3d51.09281419999999!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c3773c1e216c4f%3A0xa2e012bd32766f27!2sWolfputstraat+92!5e0!3m2!1sen!2s!4v1392994299998" 
                width="100%" 
                height="180"
                frameborder="0" 
                style="border: 1px solid #EEE;"
            ></iframe>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-12 text-muted text-center">
                <p></p>
                <p>&copy; Copyrights 2016 | Ban Sen Juku &mdash; Fudoshin Dojo</p>
            </div>
        </div>
    </div>    
</div>