<nav class="grey darken-1" role="navigation">
  <div class="nav-wrapper container">
    <a class="brand-logo" href="{{ site.baseurl }}/">{{ site.title }}</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="/" class="page-link">Home</a></li>
      <li><a href="/fudoshin/" class="page-link">Fudoshin Dojo</a></li>
      <li><a href="/aikido/" class="page-link">Wat is Aikido</a></li>
      <li><a href="/posts/" class="page-link">Nieuws</a></li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li><a href="/" class="page-link">Home</a></li>
      <li><a href="/fudoshin/" class="page-link">Fudoshin Dojo</a></li>
      <li><a href="/aikido/" class="page-link">Wat is Aikido</a></li>
      <li><a href="/posts/" class="page-link">Nieuws</a></li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>