nav.navbar {
    z-index: 2;
    border-radius: 0 !important;
    @include z-depth-1();

    .navbar-brand img {
        @include z-depth-2();
        border: 1px solid #F0f0f0;
    }
    .navbar-collapse {
        text-align: right;
    }
}